.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  /*background: red;*/
  width: 70%;
  border-radius: 150px;
  /*overflow: hidden;*/
}
.position-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 150px;

}
.left-button {
  width: 90px;
  height: 30px;
  margin-right: 12px;
  border-radius: 150px;
  border: 1px solid #1EFF;
  background: #005397;
  color: lightgoldenrodyellow;


}
.rotate-button {
  width: 50px;
  border-radius: 150px;
  border: 1px solid #1EFF;
  background: #9a031e;
  color: lightgoldenrodyellow;

}
.down-button {
  width: 100%;
  padding: 6px 0;
  border-radius: 150px;
  border: 1px solid #1EFF;;
  background: #005397;
  color: lightgoldenrodyellow;
  text-align: center;
}